<main class="content">
  <div class="grid wide row">
      <div class="content__category col l-3 m-0 c-0">


          <div class="category-item end">
              <h4 class="category-item-title">
                  Thương hiệu
              </h4>
              <ul>
                  <li class="category-item-link"><a href="">Iphone</a></li>
                  <li class="category-item-link"><a href="">SamSung</a></li>
                  <li class="category-item-link"><a href="">Nokia</a></li>
                  <li class="category-item-link"><a href="">Xiaomi</a></li>
              </ul>
          </div>
      </div>
      <!-- end category -->
      <div class="content__main col l-9 m-12 c-12">
          <div class="conten-product row">
              <h2 class="conten__product-title l-12 m-12 c-12">Sản phẩm mới</h2>
                <a
                *ngFor="let product of products"
                  [routerLink]="['/detail',product.id]" class="content__product-item l-4 col m-6 c-12">
                  <div class="product-item-img">
                      <img [src]="product.img" alt="">
                  </div>
                  <div class="product-item-text">
                      <p class="product-item-name">{{product.name}}</p>
                      <p class="product-item-price">{{product.price.toLocaleString('vn-VN')}}</p>
                  </div>
                </a>

          </div>
      </div>
      <!-- end conten-product -->
  </div>
</main>
