<header class="header">
  <div class="grid wide">
      <div class="header__logo">
          <a routerLink="/" class="header__logo-link">
              <img class="header__logo-img" src="./assets/css/img/logo.jpg" alt="">
          </a>
      </div>
      <nav class="header__nav">
          <ul class="nav__list">
              <li class="nav__item"><a routerLink="phone" class="nav__link active">Sản phẩm</a></li>
              <li class="nav__item"><a href="" class="nav__link">Thương hiệu <i class='bx bxs-chevron-down'></i></a></li>
              <li class="nav__item"><a href="" class="nav__link">Khuyến mại</a></li>
              <li class="nav__item"><a href="news.html" class="nav__link">Tin tức</a></li>
          </ul>
      </nav>
      <div class="header__icon">
          <form action="" class="search-box">
              <input type="text" class="search-form" required placeholder="Nhập từ khóa">
              <button class="btn-search"><i class='bx bx-search'></i></button>
          </form>
          <div>
              <a class="icon icon-cart" routerLink="cart"><i class='bx bx-cart-alt' ></i></a>
          </div>
          <div>
              <a class="icon icon-user" routerLink="login"><i class='bx bx-user' ></i></a>
          </div>
      </div>
      <label for="mobile-input" class="header__replace">
          <i class="fas fa-bars header__replace-icon"></i>
      </label>

      <input type="checkbox" name="" hidden class="nav__input" id="mobile-input">

      <label for="mobile-input" class="nav__overlay"></label>
      <nav class="nav__mobile">
          <label for="mobile-input">
              <i class="fas fa-times nav__mobile-close"></i>
          </label>
          <ul class="nav__mobile-list">
              <li class="nav__mobile-item">
                  <a href="./index.html" class="nav__mobile-link"><i class="fas fa-home"></i>Trang chủ</a>
              </li>
              <li class="nav__mobile-item">
                  <a href="./product.html" class="nav__mobile-link"><i class="fas fa-mug-hot"></i>Sản phẩm</a>
              </li>
              <li class="nav__mobile-item">
                  <a href="" class="nav__mobile-link"><i class="fas fa-user-tag"></i>Khuyến mãi</a>
              </li>
              <li class="nav__mobile-item">
                  <a href="./news.html" class="nav__mobile-link"><i class="far fa-newspaper"></i>Tin tức</a>
              </li>
          </ul>
      </nav>
  </div>
</header>
