
<main class="content">
  <div class="content__banner">
      <div class="banner-item grid wide row">
          <div class="banner-item-text l-5">
              <h1 class="main-item-title">Le Dinh Nghiem</h1>
              <p class="main-item-info">Bài tập Assignment Angular</p>
              <p class="main-item-price">Ph16460</p>
              <button class="main-item-btn">Follow</button>
          </div>
          <div class="banner-item-img l-7">
              <img class="main-img" src="./assets/css/img/IMG_6395.jpg" alt="" width="380px" height="380px">

          </div>
      </div>
  </div>
  <!-- end banner -->
  <div class="content__product">
      <div class="product grid wide">
          <div class="product-title">
              <h3>Sản phẩm mới nhất</h3>
          </div>
          <div class="product-list row">
              <a href="" class="product-item col l-3">
                  <div class="product-item-img">
                      <img src="./assets/css/img/giày 1.png" alt="" width="300px" height="300px">
                  </div>
                  <div class="product-item-text">
                      <p class="product-item-name">Adiddas Beluga</p>
                      <p class="product-item-price">3.200.000 đ</p>
                  </div>
              </a>
              <a href="" class="product-item col l-3">
                  <div class="product-item-img">
                      <img src="./assets/css/img/giày 2.png" alt="" width="300px" height="300px">
                  </div>
                  <div class="product-item-text">
                      <p class="product-item-name">Nike Zoom</p>
                      <p class="product-item-price">3.200.000 đ</p>
                  </div>
              </a>
              <a href="" class="product-item col l-3">
                  <div class="product-item-img">
                      <img src="./assets/css/img/giày 3.png" alt="" width="300px" height="300px">
                  </div>
                  <div class="product-item-text">
                      <p class="product-item-name">Nike Air Jordan XT</p>
                      <p class="product-item-price">3.200.000 đ</p>
                  </div>
              </a>
              <a href="" class="product-item col l-3">
                  <div class="product-item-img">
                      <img src="./assets/css/img/giày 4.png" alt="" width="300px" height="300px">
                  </div>
                  <div class="product-item-text">
                      <p class="product-item-name">Nike Wobler</p>
                      <p class="product-item-price">3.200.000 đ</p>
                  </div>
              </a>
          </div>
          <a class="product-next" href="./product.html">
              <i class='bx bx-right-arrow-alt'></i>
              <p>Xem tất cả </p>
          </a>
      </div>
      <div class="product grid wide">
          <div class="product-title">
              <h3>Sản phẩm giản giát</h3>
          </div>
          <div class="product-list row">
              <a href="" class="product-item col l-3">
                  <div class="product-item-img">
                      <img src="./assets/css/img/giày 5.png" alt="" width="300px" height="300px">
                  </div>
                  <div class="product-item-text">
                      <p class="product-item-name">Jordan Delta 2</p>
                      <p class="product-item-price">3.200.000 đ</p>
                  </div>
              </a>
              <a href="" class="product-item col l-3">
                  <div class="product-item-img">
                      <img src="./assets/css/img/giày 6.png" alt="" width="300px" height="300px">
                  </div>
                  <div class="product-item-text">
                      <p class="product-item-name">Nike Air Jordan XT</p>
                      <p class="product-item-price">3.200.000 đ</p>
                  </div>
              </a>
              <a href="" class="product-item col l-3">
                  <div class="product-item-img">
                      <img src="./assets/css/img/giày 7.png" alt="" width="300px" height="300px">
                  </div>
                  <div class="product-item-text">
                      <p class="product-item-name">RS-X-INTL Game</p>
                      <p class="product-item-price">3.200.000 đ</p>
                  </div>
              </a>
              <a href="" class="product-item col l-3">
                  <div class="product-item-img">
                      <img src="./assets/css/img/giày 8.png" alt="" width="300px" height="300px">
                  </div>
                  <div class="product-item-text">
                      <p class="product-item-name">Suede Classic</p>
                      <p class="product-item-price">3.200.000 đ</p>
                  </div>
              </a>
          </div>
          <a class="product-next" href="">
              <i class='bx bx-right-arrow-alt'></i>
              <p>Xem tất cả </p>
          </a>
      </div>
  </div>
</main>
