<main class="content">
  <div class="grid wide">
      <h5 class="title_cart">Giỏ hàng của bạn</h5>
      <div class="content__item">
              <div class="box-content_cart row">
                  <div class="content__item-main l-8 m-12 c-12">
                      <div class="cart_image">
                          <img src="./assets/css/img/giày 1.png" alt="">
                      </div>
                      <div class="cart_info">
                          <div class="cart_name">
                              <p>RS-X-INTL Game</p>
                          </div>
                          <div class="cart_price">
                              <p>3.200.000 đ</p>
                          </div>
                      </div>
                      <div class="quantity">
                          <div class="minus">
                              <button><i class="fas fa-minus"></i></button>
                          </div>
                          <div class="number">
                              <input type="text" name="" id="inp" value="1">
                          </div>
                          <div class="plus">
                              <button><i class="fas fa-plus"></i></button>
                          </div>
                      </div>
                  </div>
                  <div class="content__active l-4 m-12 c-12">
                      <div class="button_order">
                          <button>Đặt hàng</button>
                      </div>
                      <div class="trash">
                          <a href=""><i class="fas fa-trash-alt"></i></a>
                      </div>
                  </div>
              </div>
              <div class="box-content_cart row">
                  <div class="content__item-main l-8 m-12 c-12">
                      <div class="cart_image">
                          <img src="./assets/css/img/giày 1.png" alt="">
                      </div>
                      <div class="cart_info">
                          <div class="cart_name">
                              <p>RS-X-INTL Game</p>
                          </div>
                          <div class="cart_price">
                              <p>3.200.000 đ</p>
                          </div>
                      </div>
                      <div class="quantity">
                          <div class="minus">
                              <button><i class="fas fa-minus"></i></button>
                          </div>
                          <div class="number">
                              <input type="text" name="" id="inp" value="1">
                          </div>
                          <div class="plus">
                              <button onclick="plus()"><i class="fas fa-plus"></i></button>
                          </div>
                      </div>
                  </div>
                  <div class="content__active l-4 m-12 c-12">
                      <div class="button_order">
                          <button>Đặt hàng</button>
                      </div>
                      <div class="trash">
                          <a href=""><i class="fas fa-trash-alt"></i></a>
                      </div>
                  </div>
              </div>
      </div>
  </div>
</main>
