
  <div id='products'>
      <button class='btn-add'>
          <a routerLink="create" class='add-link' >Add product</a>
      </button>
      <table class='product-table'>
          <thead>
              <tr>
                  <th>STT</th>
                  <th>Name</th>
                  <th>Image</th>
                  <th>Price</th>
                  <th>Status</th>
                  <th colSpan={2}>Action</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let product of products" >
                  <td>{{product.id}}</td>
                  <td>{{product.name}}</td>
                  <td><img [src]='product.img' alt="" width='100px' /></td>
                  <td>{{product.price}}</td>
                  <td>
                    <app-status
                    [status]="product.status"
                    (changeStatus)="parebtChangeStatus($event, product.id)"
                  ></app-status>
                  </td>
                  <td>
                      <button class='btn-delete' (click)="onRemove(product.id)">
                          <span class='text'>Delete</span>
                          <span class='icon'>
                              <i class='bx bx-x'></i>
                          </span>
                      </button>
                  </td>
                  <td>
                      <button class='btn-edit'>
                        <a routerLink="{{product.id}}/edit" class="btn-link">Edit</a>
                      </button>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
